main {
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: poppins;
  font-size: 40px;
}

label {
  font-size: 15px;
  color: black;
  text-align: center;
  align-items: center;
}

input {
  border-radius: 10px;
}

button {
  box-sizing: border-box;
  border-radius: 10px;
}

.border {
  border-bottom: 3px solid black;
  margin-top: 20px;
}

#display {
  font-size: 20px;
  font-family: poppins;
}
